In [2]:
pip install findspark

Requirement already satisfied: findspark in c:\users\koushik\anaconda2\envs\notebook\lib\site-packages (1.4.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import findspark
findspark.init()
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [4]:
import findspark
findspark.init()

In [7]:
from pyspark.sql.functions import *
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.getOrCreate()

In [34]:
df1 = spark.read.option("delimiter",",").csv('C:\\Users\Koushik\Desktop\input1.csv',header=True)
df1.show()
df2 = spark.read.option("delimiter",",").csv('C:\\Users\Koushik\Desktop\input2.csv',header=True)
df2.show()

+---------+---+------+
|     Name|Age|Gender|
+---------+---+------+
|  Koushik| 34|  Male|
| Parinita| 32|Female|
|  Kalpana| 56|Female|
|Kashinath| 70|  Male|
+---------+---+------+

+---------+---+
|     Name|Age|
+---------+---+
|  Koushik| 67|
| Parinita| 32|
|  Kalpana| 78|
|Kashinath| 70|
+---------+---+

In [35]:
listA = list(set(df1.columns)-set(df2.columns))
print("listA =",listA)
listB = list(set(df2.columns)-set(df1.columns))
print("listB = ",listB)

listA = ['Gender']
listB =  []

In [38]:
for i in listA:
    df2=df2.withColumn(i,lit("null"))
    print("i =",i)
for i in listB:
    df1=df1.withColumn(i,lit("null"))
df_final = df1.union(df2)

i = Gender

In [37]:
df_final.show()

+---------+---+------+
|     Name|Age|Gender|
+---------+---+------+
|  Koushik| 34|  Male|
| Parinita| 32|Female|
|  Kalpana| 56|Female|
|Kashinath| 70|  Male|
|  Koushik| 67|  null|
| Parinita| 32|  null|
|  Kalpana| 78|  null|
|Kashinath| 70|  null|
+---------+---+------+

In [55]:
# adding a column next to Gender as Sex = (M/F) using UDFs

from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

spark = SparkSession.builder.getOrCreate()
df3 = spark.read.option("delimiter",",").csv("C:\\Users\Koushik\Desktop\input1.csv",header=True)
print("df3 :")
df3.show()

def func(Gender):
    if Gender=="Male":
        return "M"
    if Gender=="Female":
        return "F"
    return 0

func_udf=udf(func,StringType()) # register a function

df4 = df3.withColumn('sex',func_udf(df3['Gender']))
print("df4 :")
df4.show()
df4.write.format('csv').save("C:\\Users\Koushik\Desktop\output1.csv",header=True)

df3 :
+---------+---+------+
|     Name|Age|Gender|
+---------+---+------+
|  Koushik| 34|  Male|
| Parinita| 32|Female|
|  Kalpana| 56|Female|
|Kashinath| 70|  Male|
+---------+---+------+

df4 :
+---------+---+------+---+
|     Name|Age|Gender|sex|
+---------+---+------+---+
|  Koushik| 34|  Male|  M|
| Parinita| 32|Female|  F|
|  Kalpana| 56|Female|  F|
|Kashinath| 70|  Male|  M|
+---------+---+------+---+

In [56]:
df1.show()

+---------+---+------+
|     Name|Age|Gender|
+---------+---+------+
|  Koushik| 34|  Male|
| Parinita| 32|Female|
|  Kalpana| 56|Female|
|Kashinath| 70|  Male|
+---------+---+------+

In [1]:
def Citeria(age):
    if (age>60):
        return "Senior Citizen"
    else: return "Not Senior Citizen"
    return 0

func_df1 = udf(Citeria, StringType())
df6 = df1.withColumn('age1',func_df1(df1['age']))
df6.show()

NameError: name 'udf' is not defined